#
# samplehost.cnf - customized for a host
#

[ req ]
prompt                  = no
distinguished_name      = 43fad913-d20a-437e-9a8a-2fb437fe9112.dnshook.site
[ DNS of host maching ]
commonName              = 43fad913-d20a-437e-9a8a-2fb437fe9112.dnshook.site
stateOrProvinceName     = SN
countryName             = US
emailAddress            = email@example.com
organizationName        = Org Name
organizationalUnitName  = Org Unit
