#
# samplehost.cnf - customized for a reader
#

[ req ]
prompt                  = no
distinguished_name      = Reader Hostname
[ Reader Hostname ]
commonName              = Reader Hostname
stateOrProvinceName     = SN
countryName             = US
emailAddress            = email@example.com
organizationName        = Org Name
organizationalUnitName  = Org Unit
